
.container__services {
    padding: 7rem 0rem 0rem 0rem;
    justify-content: center;
    align-items: center;
    
  }

 .container__card-services{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 7rem 0rem 0rem 0rem;
    
 } 

 .container__card-services .service .service__head{
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary-variant),
        transparent
      );
   height: 100px;
    margin:0rem;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
 }

 .service__head h3 {
    color: #7fffd4;
  }

 .container__card-services .service{
  
    margin: 1rem  2rem;
    position:relative;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
 
 }

 .container__card-services .services__list{
    padding: 0.5rem 2rem 2rem 2rem;

 }

 .service .services__list{
    text-align: left;
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
   }


 .services__list li{
    margin: 2rem 1rem 1rem 1rem;
   
    display: flex;
}

.services__list li .services__list-icon{
    margin: 0.3rem 1rem 0rem 1rem;
   color:#F02478;
 
}

.service:nth-child(-n+2)::after
{
    content:'';
    position: absolute;
    background: url(../../assets/flecha-curva-con-linea-discontinua.svg);
    background-size: cover;
    width: 100px;
    height: 100px;
    top: 20%;
    right: -20%;
}

@media screen and (max-width: 840px)
{
   .service:nth-child(-n+2)::after
   {
      display:none;
   }
}

 @media screen and (max-width: 1024px){
    .container__card-services{
        display:grid;
        grid-template-columns: 1fr;
        padding: 3rem 4rem 4rem 3rem;
     } 

     .container__card-services .service{
    
        gap: 1rem 2rem;
        margin: 2rem auto 4rem;
     
     }

     .container__card-services .services__list{
      padding: 0rem 0rem 0rem 0rem;
  
   }
     
 }