.portfolio h1 {
    color:coral;
}

.container__portafolio{
    gap: 2rem;
    padding: 7rem 2rem 2rem 2rem;
}

.body__container--portafolio{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 6rem 2rem 0rem 0rem;
    gap: 4rem 2.2rem;
}

.title__portafolio{
    width: 100%;
    padding: 5rem 2rem 2rem 2rem;
    text-align:center;
    display: flex;
    justify-content:center;
}

.demo__projects:hover{
    color: var(--color-primary);
}
.demo__projects p{
    font-size: 15px;
   
}

.text__light--card
{
    color: var(--color-light);
}

.body__portafolio--card
{
    line-height: 25px;
    padding: 2rem 0rem 0rem 0rem;
}

.body__portafolio--card h4{
    color:#7fffd4; 
}




.link__portafolio--card
{
  
    padding: 1.8rem 1rem;
}

 .demo__projects{
   border: 1px solid var(--color-light);
   padding: 0rem 3rem 1rem;
   cursor: pointer;
   border-radius: 10rem;
   position: relative;
   width:max-content;
} 

.demo__projects:hover{
    border: 1px dashed var(--color-primary);
    background:var(--color-bg);
}

.link__github--projects{
    border: 1px solid var(--color-light);
   
    border-radius: 10rem;
    
}

.empresa__portafolio{
    color:#dddedf;
}

.icono__plus{
    position: absolute;
    font-size: 28px;
    left: 2px;
    top: 3px;
}

.demo__projects p{
    position: absolute;
    right: 9px;
    top: 3px;
}

.logos__tecnologias{
    display:grid;
    grid-template-columns: repeat(5, 10%);
    justify-content:center;
    align-items: center;
    padding: 1rem 0rem 1rem 0.5rem;
    text-align: center;
    width:100%;
    
   
}
.logos__tecnologias img{
    width:38px;
    height:38px;
    border: 2px solid var(--color-primary-variant);
    border-radius: 50%;
    margin: 0.3rem 0.2rem 0rem 0.4rem;
    background:var(--color-bg);
    background-image: contain;
   
}

.logos__tecnologias img:hover{
    border: 2px dashed var(--color-primary);
}
@media screen and (max-width: 640px)
{
    .body__container--portafolio{
        display:grid;
        grid-template-columns: 1fr;
        gap: 4rem 2rem;
        padding: 5rem 2rem 2rem 2rem;
    } 
}

.container__card--portafolio{
    /* background:var(--color-primary-variant); */
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary-variant),
        transparent
      );
      	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      border-radius: 1.5rem;
    
}

.container__card--portafolio:hover{
    background:var(--color-bg); 
   
}


.head__portafolio--img{
    
}
.card__img{
    width:100%;
    height: 200px;
    border-radius: 1.5rem;
   
    
}

@media screen and (max-width: 1024px)
{
    .body__container--portafolio{
        display:grid;
        grid-template-columns: 1fr;
        gap: 4rem 2rem;
        padding: 5rem 2rem 2rem 2rem;
    }
}